<a href="https://colab.research.google.com/github/Ananassio/Data-Minig-Lab/blob/main/Week_5/Assignment_Clustering_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Kaggle Cluster Challenge 

Clustering medical data: [https://www.kaggle.com/c/onelasttrain/overview](https://www.kaggle.com/c/onelasttrain/overview)

In [98]:
# get data
!git clone https://github.com/keuperj/DATA.git

fatal: destination path 'DATA' already exists and is not an empty directory.

In [99]:
import pandas as pd
train = pd.read_csv("DATA/Cluster_I/TRAIN.csv")
test = pd.read_csv("DATA/Cluster_I/TEST.csv")

In [100]:
train.head()

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted_NO
0,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,1
1,Caucasian,Female,[10-20),?,1,1,7,3,?,?,...,No,Up,No,No,No,No,No,Ch,Yes,0
2,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,...,No,No,No,No,No,No,No,No,Yes,1
3,Caucasian,Male,[30-40),?,1,1,7,2,?,?,...,No,Up,No,No,No,No,No,Ch,Yes,1
4,Caucasian,Male,[40-50),?,1,1,7,1,?,?,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [101]:
train.describe()

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,readmitted_NO
count,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000
mean,2.152297,3.997235,5.881745,4.491479,43.129934,1.344601,15.719987,0.300747,0.157982,0.614605,7.147285,0.524973
std,1.546621,5.686334,4.426288,3.038481,19.006543,1.681742,8.174863,1.112868,0.697619,1.228058,1.991019,0.499379
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,1.000000,1.000000,1.000000,2.000000,32.000000,0.000000,10.000000,0.000000,0.000000,0.000000,5.000000,0.000000
50%,2.000000,1.000000,7.000000,4.000000,44.000000,1.000000,14.000000,0.000000,0.000000,0.000000,8.000000,1.000000
75%,3.000000,5.000000,7.000000,6.000000,56.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000,1.000000
max,8.000000,28.000000,22.000000,14.000000,129.000000,6.000000,81.000000,42.000000,42.000000,21.000000,9.000000,1.000000

## Task 1
Find and evaluate clusters in the data. Note: use the parallelization abilities of *Scikit Learn*...

In [102]:
train.fillna(0)
train.replace('?',0)

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted_NO
0,Caucasian,Female,[0-10),0,6,25,1,1,0,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,1
1,Caucasian,Female,[10-20),0,1,1,7,3,0,0,...,No,Up,No,No,No,No,No,Ch,Yes,0
2,AfricanAmerican,Female,[20-30),0,1,1,7,2,0,0,...,No,No,No,No,No,No,No,No,Yes,1
3,Caucasian,Male,[30-40),0,1,1,7,2,0,0,...,No,Up,No,No,No,No,No,Ch,Yes,1
4,Caucasian,Male,[40-50),0,1,1,7,1,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,Caucasian,Female,[30-40),0,2,1,1,5,HM,0,...,No,No,No,No,No,No,No,No,Yes,0
71232,Caucasian,Female,[70-80),0,3,6,1,6,MC,Family/GeneralPractice,...,No,No,No,No,No,No,No,Ch,Yes,0
71233,Caucasian,Female,[40-50),0,1,1,7,4,MD,Emergency/Trauma,...,No,Up,No,No,No,No,No,Ch,Yes,1
71234,Caucasian,Male,[70-80),0,2,11,7,3,MC,Emergency/Trauma,...,No,Up,No,No,No,No,No,Ch,Yes,1
71235,Caucasian,Male,[40-50),0,1,1,7,3,HM,0,...,No,No,No,No,No,No,No,Ch,Yes,0

In [103]:
for column in train:
    temp = train[column].value_counts().count()
    if temp < 2:
      print('1')
      train = train.drop(columns=[column])

1
1
1
1
1

In [104]:
temp = train['insulin'].value_counts().count()
temp

4

In [105]:
train

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted_NO
0,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,1
1,Caucasian,Female,[10-20),?,1,1,7,3,?,?,...,No,No,No,No,Up,No,No,Ch,Yes,0
2,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,...,No,No,No,No,No,No,No,No,Yes,1
3,Caucasian,Male,[30-40),?,1,1,7,2,?,?,...,No,No,No,No,Up,No,No,Ch,Yes,1
4,Caucasian,Male,[40-50),?,1,1,7,1,?,?,...,No,No,No,No,Steady,No,No,Ch,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,Caucasian,Female,[30-40),?,2,1,1,5,HM,?,...,Steady,No,No,No,No,No,No,No,Yes,0
71232,Caucasian,Female,[70-80),?,3,6,1,6,MC,Family/GeneralPractice,...,No,No,No,No,No,No,No,Ch,Yes,0
71233,Caucasian,Female,[40-50),?,1,1,7,4,MD,Emergency/Trauma,...,No,No,No,No,Up,No,No,Ch,Yes,1
71234,Caucasian,Male,[70-80),?,2,11,7,3,MC,Emergency/Trauma,...,No,No,No,No,Up,No,No,Ch,Yes,1
71235,Caucasian,Male,[40-50),?,1,1,7,3,HM,?,...,No,No,No,No,No,No,No,Ch,Yes,0

In [106]:
train['acarbose'].value_counts().index[1]

'Steady'

In [107]:
train = train.replace(train['age'].value_counts().index[9],1)

In [108]:
train

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted_NO
0,Caucasian,Female,1,?,6,25,1,1,?,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,1
1,Caucasian,Female,[10-20),?,1,1,7,3,?,?,...,No,No,No,No,Up,No,No,Ch,Yes,0
2,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,...,No,No,No,No,No,No,No,No,Yes,1
3,Caucasian,Male,[30-40),?,1,1,7,2,?,?,...,No,No,No,No,Up,No,No,Ch,Yes,1
4,Caucasian,Male,[40-50),?,1,1,7,1,?,?,...,No,No,No,No,Steady,No,No,Ch,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,Caucasian,Female,[30-40),?,2,1,1,5,HM,?,...,Steady,No,No,No,No,No,No,No,Yes,0
71232,Caucasian,Female,[70-80),?,3,6,1,6,MC,Family/GeneralPractice,...,No,No,No,No,No,No,No,Ch,Yes,0
71233,Caucasian,Female,[40-50),?,1,1,7,4,MD,Emergency/Trauma,...,No,No,No,No,Up,No,No,Ch,Yes,1
71234,Caucasian,Male,[70-80),?,2,11,7,3,MC,Emergency/Trauma,...,No,No,No,No,Up,No,No,Ch,Yes,1
71235,Caucasian,Male,[40-50),?,1,1,7,3,HM,?,...,No,No,No,No,No,No,No,Ch,Yes,0

In [113]:

for column in train:
  temp1 = 1
  for num in train[column].value_counts().index:
    train = train.replace(train[column].value_counts().index[temp1-1],temp1)
    temp1 = temp1 +1
  print(column)

race
gender

IndexError: ignored

In [114]:
train

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted_NO
0,1,1,1,1,1,25,1,1,1,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,1
1,1,1,4,1,1,1,2,1,1,1,...,No,No,No,No,Up,No,No,Ch,Yes,0
2,1,1,3,1,1,1,2,1,1,1,...,No,No,No,No,No,No,No,No,Yes,1
3,1,1,1,1,1,1,2,1,1,1,...,No,No,No,No,Up,No,No,Ch,Yes,1
4,1,1,1,1,1,1,2,1,1,1,...,No,No,No,No,Steady,No,No,Ch,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,1,1,1,1,1,1,1,1,HM,1,...,Steady,No,No,No,No,No,No,No,Yes,0
71232,1,1,1,1,1,1,1,1,MC,Family/GeneralPractice,...,No,No,No,No,No,No,No,Ch,Yes,0
71233,1,1,1,1,1,1,2,1,MD,Emergency/Trauma,...,No,No,No,No,Up,No,No,Ch,Yes,1
71234,1,1,1,1,1,11,2,1,MC,Emergency/Trauma,...,No,No,No,No,Up,No,No,Ch,Yes,1
71235,1,1,1,1,1,1,2,1,HM,1,...,No,No,No,No,No,No,No,Ch,Yes,0

In [138]:
train['medical_specialty'].value_counts().index

Index([                                     1,
                           'InternalMedicine',
                     'Family/GeneralPractice',
                                 'Cardiology',
                           'Emergency/Trauma',
                            'Surgery-General',
                                 'Nephrology',
                 'Orthopedics-Reconstructive',
                                'Orthopedics',
                                'Pulmonology',
                                 'Psychiatry',
            'Surgery-Cardiovascular/Thoracic',
                                    'Urology',
                    'ObstetricsandGynecology',
                              'Surgery-Neuro',
                           'Gastroenterology',
                           'Surgery-Vascular',
          'PhysicalMedicineandRehabilitation',
                                'Radiologist',
                                   'Oncology',
                                 'Pediatrics',
                        'Hematology/Oncology',
                   'Pediatrics-Endocrinology',
                                  'Neurology',
                              'Endocrinology',
                             'Otolaryngology',
                     'Surgery-Cardiovascular',
                    'Pediatrics-CriticalCare',
                                 'Psychology',
                           'Surgery-Thoracic',
                                   'Podiatry',
                                  'Radiology',
                                 'Hematology',
                            'Surgery-Plastic',
                                 'Gynecology',
                                  'Osteopath',
                                    'Surgeon',
                         'InfectiousDiseases',
                     'Pediatrics-Pulmonology',
       'Obsterics&Gynecology-GynecologicOnco',
                              'Ophthalmology',
                   'Anesthesiology-Pediatric',
                                  'Pathology',
                                'Hospitalist',
                               'Rheumatology',
                                 'Obstetrics',
                             'Anesthesiology',
                      'Surgery-Maxillofacial',
                       'Surgery-Colon&Rectal',
                       'Pediatrics-Neurology',
                          'Surgery-Pediatric',
                       'Cardiology-Pediatric',
                           'OutreachServices',
                       'AllergyandImmunology',
                'Psychiatry-Child/Adolescent',
                          'SurgicalSpecialty',
                          'PhysicianNotFound',
             'Pediatrics-Hematology-Oncology',
                                  'Dentistry',
            'Pediatrics-AllergyandImmunology',
               'Pediatrics-EmergencyMedicine',
           'Surgery-PlasticwithinHeadandNeck',
                                 'Proctology',
                                'Dermatology',
                             'SportsMedicine',
                                     'Speech',
                       'Psychiatry-Addictive',
              'Pediatrics-InfectiousDiseases',
                               'Perinatology'],
      dtype='object')

In [143]:
if train['medical_specialty'].value_counts().index.all == str:
  print('ja')

In [141]:
train['medical_specialty'].value_counts().index.all()

'Perinatology'

## Task 2
Visualize your result with the embedding projector.

## Task 3 (optional)
Upload your results to Kaggle and get a score.