<a href="https://colab.research.google.com/github/Ananassio/Data-Minig-Lab/blob/main/Week_2/Assingment_2.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2.1
### Scrape and Analyse

* API [https://beautiful-soup-4.readthedocs.io/en/latest/](https://beautiful-soup-4.readthedocs.io/en/latest/)

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

#### Make float to Nums

In [71]:
help_dict = {
    'tousand': 1000,
    'million': 1000000,
    'billion': 1000000000,
    'None': 1,
}

def str_to_num(input):
  temp = pd.DataFrame(list(input.str.split(' ')))
  temp = temp.replace({1:help_dict})
  temp = temp.fillna(1)
  temp[0] = pd.to_numeric(temp[0])
  temp = temp[0]*temp[1]
  return temp

### Tasks
Scrape data from the website [http://www.nationmaster.com](http://www.nationmaster.com/), convert it into Pandas data frames and use pandas queries to answer the following questions:

In [2]:
#use request to get data from URL
res = requests.get("http://www.nationmaster.com/country-info/stats/Media/Internet-users")
#parse data as HTML
soup = BeautifulSoup(res.content,'lxml')
#extract tables
table = soup.find_all('table')[0]
#convert table to pandas data frame
df = pd.read_html(str(table)) #returns list of dataframes (one for each table)

In [3]:
df = pd.DataFrame(df[0])
df

,#,COUNTRY,AMOUNT,DATE,GRAPH,HISTORY
0,1,China,389 million,2009,NaN,NaN
1,2,United States,245 million,2009,NaN,NaN
2,3,Japan,99.18 million,2009,NaN,NaN
3,NaN,Group of 7 countries (G7) average (profile),80.32 million,2009,NaN,NaN
4,4,Brazil,75.98 million,2009,NaN,NaN
...,...,...,...,...,...,...
244,214,Niue,1100,2009,NaN,NaN
245,=215,"Saint Helena, Ascension, and Tristan da Cunha",900,2009,NaN,NaN
246,=215,Saint Helena,900,2009,NaN,NaN
247,217,Tokelau,800,2008,NaN,NaN
248,218,Christmas Island,464,2001,NaN,NaN

In [4]:
df = df.fillna(0)
df = df.set_index('#').drop(0).reset_index()

In [5]:
df.head(10)

    #         COUNTRY         AMOUNT  DATE  GRAPH  HISTORY
0   1           China    389 million  2009    0.0      0.0
1   2   United States    245 million  2009    0.0      0.0
2   3           Japan  99.18 million  2009    0.0      0.0
3   4          Brazil  75.98 million  2009    0.0      0.0
4   5         Germany  65.12 million  2010    0.0      0.0
5   6           India  61.34 million  2009    0.0      0.0
6   7          Russia   59.7 million  2010    0.0      0.0
7   8  United Kingdom  51.44 million  2009    0.0      0.0
8   9          France  44.63 million  2010    0.0      0.0
9  10         Nigeria  43.99 million  2009    0.0      0.0

#### 1
Get the number of internet users per country, remove all NaN entries and return the top 10 countries with the highest absolute number of internet users.

#### 2
Get the number of internet users per country, remove all NaN entries and return the top 10 countries with the highest number of internet users relative to the populutation. Hint: you need to scrape the population number from another page)

In [6]:
#use request to get data from URL
res2 = requests.get("https://www.nationmaster.com/country-info/stats/People/Population")
#parse data as HTML
soup2 = BeautifulSoup(res2.content,'lxml')
#extract tables
table2 = soup2.find_all('table')[0]
#convert table to pandas data frame
df2 = pd.read_html(str(table2)) #returns list of dataframes (one for each table)

In [7]:
df2 = pd.DataFrame(df2[0])
df2

        #                       COUNTRY          AMOUNT  DATE  GRAPH  HISTORY
0       1                         China    1.35 billion  2013    NaN      NaN
1       2                         India    1.22 billion  2013    NaN      NaN
2       3                European Union  509.04 million  2012    NaN      NaN
3     NaN  South Asia average (profile)  321.91 million  2013    NaN      NaN
4       4                 United States  316.67 million  2013    NaN      NaN
..    ...                           ...             ...   ...    ...      ...
296  =250             Coral Sea Islands             0.0  2013    NaN      NaN
297  =250             Clipperton Island             0.0  2013    NaN      NaN
298  =250                   Wake Island             0.0  2013    NaN      NaN
299  =250               Spratly Islands             0.0  2013    NaN      NaN
300  =250   Ashmore and Cartier Islands             0.0  2013    NaN      NaN

[301 rows x 6 columns]

In [8]:
df2 = df2.fillna(0)
df2 = df2.set_index('#').drop(0).reset_index()
df2 = df2.drop(2).reset_index().drop(['index','#','DATE','GRAPH','HISTORY'], axis=1)

In [63]:
df2['Internet User']

0        389 million
1        245 million
2      99.18 million
3      75.98 million
4      65.12 million
           ...
213             1100
214              900
215              900
216              800
217              464
Name: Internet User, Length: 218, dtype: object

In [10]:
df2 = df.merge(df2, how='inner', on='COUNTRY').drop(['#','DATE','GRAPH','HISTORY'], axis=1)
df2 = df2.rename(columns={"AMOUNT_x": "Internet User", "AMOUNT_y": "Population"})

In [11]:
df2

,COUNTRY,Internet User,Population
0,China,389 million,1.35 billion
1,United States,245 million,316.67 million
2,Japan,99.18 million,127.25 million
3,Brazil,75.98 million,201.01 million
4,Germany,65.12 million,81.15 million
...,...,...,...
213,Niue,1100,1229
214,"Saint Helena, Ascension, and Tristan da Cunha",900,7754
215,Saint Helena,900,7700
216,Tokelau,800,1353
217,Christmas Island,464,1513

#### 3
Compute the correlation between the crime rate (murders per 100k) and the education level. Compare this to the correlation of crime rate and poverty (relative BIP). Hint: use pandas build in correlation function: [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html)

In [ ]:
#use request to get data from URL
res3 = requests.get("https://www.nationmaster.com/country-info/stats/Crime/Murder-rate")
#parse data as HTML
soup3 = BeautifulSoup(res3.content,'lxml')
#extract tables
table3 = soup3.find_all('table')[0]
#convert table to pandas data frame
df3 = pd.read_html(str(table3)) #returns list of dataframes (one for each table)

In [ ]:
df3 = pd.DataFrame(df3[0])
df3

                 COUNTRY  DESCRIPTION
0            Afghanistan         3.40
1                Albania         4.50
2                Algeria         0.64
3                Andorra         1.30
4    Antigua and Barbuda         8.50
..                   ...          ...
146              Uruguay         5.80
147           Uzbekistan         3.20
148            Venezuela        49.00
149              Vietnam         1.90
150                Yemen         4.00

[151 rows x 2 columns]

correlation of crime rate and poverty (relative BIP)

In [ ]:
#use request to get data from URL
res5 = requests.get("https://www.nationmaster.com/country-info/stats/Crime/Total-crimes-per-1000")
#parse data as HTML
soup5 = BeautifulSoup(res3.content,'lxml')
#extract tables
table5 = soup5.find_all('table')[0]
#convert table to pandas data frame
df5 = pd.read_html(str(table5)) #returns list of dataframes (one for each table)

#use request to get data from URL
res6 = requests.get("https://www.nationmaster.com/country-info/stats/Economy/GDP")
#parse data as HTML
soup6 = BeautifulSoup(res6.content,'lxml')
#extract tables
table6 = soup6.find_all('table')[0]
#convert table to pandas data frame
df6 = pd.read_html(str(table6)) #returns list of dataframes (one for each table)

In [ ]:
df5 = pd.DataFrame(df5[0])
df5

                 COUNTRY  DESCRIPTION
0            Afghanistan         3.40
1                Albania         4.50
2                Algeria         0.64
3                Andorra         1.30
4    Antigua and Barbuda         8.50
..                   ...          ...
146              Uruguay         5.80
147           Uzbekistan         3.20
148            Venezuela        49.00
149              Vietnam         1.90
150                Yemen         4.00

[151 rows x 2 columns]

In [ ]:
df6 = pd.DataFrame(df6[0]).drop(['DATE','GRAPH','HISTORY'], axis=1)
df6

         #                                      COUNTRY           AMOUNT
0      1.0                               European Union  $16.63 trillion
1      2.0                                United States  $15.68 trillion
2      3.0                                        China   $8.36 trillion
3      4.0                                        Japan   $5.96 trillion
4      NaN  Group of 7 countries (G7) average (profile)   $4.85 trillion
..     ...                                          ...              ...
232  200.0                        Sao Tome and Principe  $263.73 million
233  201.0                                        Palau  $228.42 million
234  202.0                             Marshall Islands  $186.90 million
235  203.0                                     Kiribati  $175.71 million
236  204.0                                       Tuvalu   $36.87 million

[237 rows x 3 columns]

In [ ]:
def histogram_intersection(a, b):

    v = np.minimum(a, b).sum().round(decimals=1)

    return v

In [ ]:
df5 = df5.merge(df6, how='inner', on='COUNTRY').drop('#',axis=1)
df5 = df5.set_index('COUNTRY')
df5

                     DESCRIPTION           AMOUNT
COUNTRY
Afghanistan                 3.40   $18.03 billion
Albania                     4.50   $13.12 billion
Algeria                     0.64  $207.96 billion
Andorra                     1.30    $3.71 billion
Antigua and Barbuda         8.50    $1.18 billion
...                          ...              ...
Uruguay                     5.80   $49.06 billion
Uzbekistan                  3.20   $51.11 billion
Venezuela                  49.00  $381.29 billion
Vietnam                     1.90  $141.67 billion
Yemen                       4.00   $35.65 billion

[148 rows x 2 columns]

In [ ]:
df5.corr()

             DESCRIPTION
DESCRIPTION          1.0

### REST API
#### Using data from [https://www.energidataservice.dk](https://www.energidataservice.dk)

In [ ]:
import pandas as pd
import requests
from pandas import json_normalize

In [ ]:
#get data from an open energy data service provider
url = 'https://api.energidataservice.dk/dataset/NordpoolMarket?offset=0&sort=HourUTC%20DESC&timezone=dk'

response = requests.get(url)
dictr = response.json() #parse json to dict
recs = dictr['records'] 
df = json_normalize(recs) #flatten json files into data frame
df2 = df
df3 = df
df.head()

,HourUTC,HourDK,PriceArea,SpotPurchase,SpotSale,SpotPriceDKK,ElbasAveragePriceDKK,ElbasMaxPriceDKK,ElbasMinPriceDKK,SpotPriceEUR,ElbasAveragePriceEUR,ElbasMaxPriceEUR,ElbasMinPriceEUR
0,2021-08-22T21:00:00,2021-08-22T23:00:00,DK1,None,None,609.450012,None,None,None,81.949997,None,None,None
1,2021-08-22T21:00:00,2021-08-22T23:00:00,DK2,None,None,609.450012,None,None,None,81.949997,None,None,None
2,2021-08-22T20:00:00,2021-08-22T22:00:00,DK1,None,None,670.059998,None,None,None,90.099998,None,None,None
3,2021-08-22T20:00:00,2021-08-22T22:00:00,DK2,None,None,670.059998,None,None,None,90.099998,None,None,None
4,2021-08-22T19:00:00,2021-08-22T21:00:00,DK1,None,None,710.080017,None,None,None,95.480003,None,None,None

#### 4
Compute overview statistics (mean, variance, quantiles, counts,...) for all variables. Hint: there is a single pandas call to get this ...

In [ ]:
df.describe()

       SpotPriceDKK  SpotPriceEUR
count    100.000000    100.000000
mean     637.358407     85.702200
std       97.592793     13.122795
min      496.410004     66.750000
25%      568.479980     76.440002
50%      609.450012     81.949997
75%      708.510010     95.269997
max      834.200012    112.169998

#### 5 
Compute the average ***SpotSale*** by each day.

In [ ]:
df = df.drop(['HourDK','PriceArea','SpotPurchase','SpotPriceDKK','ElbasAveragePriceDKK','ElbasMaxPriceDKK','ElbasMinPriceDKK','SpotPriceEUR','ElbasAveragePriceEUR','ElbasMaxPriceEUR','ElbasMinPriceEUR'], axis=1)
df['HourUTC'] = pd.to_datetime(df['HourUTC']).dt.date
df = df.groupby('HourUTC').mean()
df

            SpotSale
HourUTC
2021-08-20       NaN
2021-08-21       NaN
2021-08-22       NaN

Da SportSale immer = NAN ist, wird noch mal SpotPriceEUR verwendet

In [ ]:
df2 = df2.drop(['HourDK','PriceArea','SpotPurchase','SpotPriceDKK','ElbasAveragePriceDKK','ElbasMaxPriceDKK','ElbasMinPriceDKK','SpotSale','ElbasAveragePriceEUR','ElbasMaxPriceEUR','ElbasMinPriceEUR'], axis=1)
df2['HourUTC'] = pd.to_datetime(df2['HourUTC']).dt.date
df2 = df2.groupby('HourUTC').mean()
df2

            SpotPriceEUR
HourUTC
2021-08-20    103.600000
2021-08-21     90.050416
2021-08-22     77.704545

#### 6 
Compute the day with the highest variance in ***SpotPurchase***

Sportpurchase ist auch immer NAN, deshalb wird die Größte Varianz für SportPriceEUR verwendet

In [ ]:
df3 = df3.drop(['HourDK','PriceArea','SpotPurchase','SpotPriceDKK','ElbasAveragePriceDKK','ElbasMaxPriceDKK','ElbasMinPriceDKK','SpotSale','ElbasAveragePriceEUR','ElbasMaxPriceEUR','ElbasMinPriceEUR'], axis=1)
df3['HourUTC'] = pd.to_datetime(df2['HourUTC']).dt.date
df3MAX = df3.groupby('HourUTC').max()
df3MIN = df3.groupby('HourUTC').min()
df3MAX

            SpotPriceEUR
HourUTC
2021-08-20    110.690002
2021-08-21    112.169998
2021-08-22     97.959999

In [ ]:
df3MIN

            SpotPriceEUR
HourUTC
2021-08-20     95.199997
2021-08-21     76.589996
2021-08-22     66.750000

In [ ]:
(df3MAX-df3MIN).sort_values('SpotPriceEUR',ascending=False)

            SpotPriceEUR
HourUTC
2021-08-21     35.580002
2021-08-22     31.209999
2021-08-20     15.490005