<a href="https://colab.research.google.com/github/Ananassio/Data-Minig-Lab/blob/main/Week_2/Assingment_2.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2.1
### Scrape and Analyse

* API [https://beautiful-soup-4.readthedocs.io/en/latest/](https://beautiful-soup-4.readthedocs.io/en/latest/)

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Tasks
Scrape data from the website [http://www.nationmaster.com](http://www.nationmaster.com/), convert it into Pandas data frames and use pandas queries to answer the following questions:

#### 1
Get the number of internet users per country, remove all NaN entries and return the top 10 countries with the highest absolute number of internet users.

In [115]:
#use request to get data from URL
res = requests.get("http://www.nationmaster.com/country-info/stats/Media/Internet-users")
#parse data as HTML
soup = BeautifulSoup(res.content,'lxml')
#extract tables
table = soup.find_all('table')[0]
#convert table to pandas data frame
df = pd.read_html(str(table)) #returns list of dataframes (one for each table)

In [116]:
df = pd.DataFrame(df[0])
df

,#,COUNTRY,AMOUNT,DATE,GRAPH,HISTORY
0,1,China,389 million,2009,NaN,NaN
1,2,United States,245 million,2009,NaN,NaN
2,3,Japan,99.18 million,2009,NaN,NaN
3,NaN,Group of 7 countries (G7) average (profile),80.32 million,2009,NaN,NaN
4,4,Brazil,75.98 million,2009,NaN,NaN
...,...,...,...,...,...,...
244,214,Niue,1100,2009,NaN,NaN
245,=215,"Saint Helena, Ascension, and Tristan da Cunha",900,2009,NaN,NaN
246,=215,Saint Helena,900,2009,NaN,NaN
247,217,Tokelau,800,2008,NaN,NaN
248,218,Christmas Island,464,2001,NaN,NaN

In [117]:
df = df.fillna(0)
df = df.set_index('#').drop(0).reset_index()

In [118]:
df.head(10)

    #         COUNTRY         AMOUNT  DATE  GRAPH  HISTORY
0   1           China    389 million  2009    0.0      0.0
1   2   United States    245 million  2009    0.0      0.0
2   3           Japan  99.18 million  2009    0.0      0.0
3   4          Brazil  75.98 million  2009    0.0      0.0
4   5         Germany  65.12 million  2010    0.0      0.0
5   6           India  61.34 million  2009    0.0      0.0
6   7          Russia   59.7 million  2010    0.0      0.0
7   8  United Kingdom  51.44 million  2009    0.0      0.0
8   9          France  44.63 million  2010    0.0      0.0
9  10         Nigeria  43.99 million  2009    0.0      0.0

#### 2
Get the number of internet users per country, remove all NaN entries and return the top 10 countries with the highest number of internet users relative to the populutation. Hint: you need to scrape the population number from another page)

In [138]:
#use request to get data from URL
res2 = requests.get("https://www.nationmaster.com/country-info/stats/People/Population")
#parse data as HTML
soup2 = BeautifulSoup(res2.content,'lxml')
#extract tables
table2 = soup2.find_all('table')[0]
#convert table to pandas data frame
df2 = pd.read_html(str(table2)) #returns list of dataframes (one for each table)

In [139]:
df2 = pd.DataFrame(df2[0])
df2

        #                       COUNTRY          AMOUNT  DATE  GRAPH  HISTORY
0       1                         China    1.35 billion  2013    NaN      NaN
1       2                         India    1.22 billion  2013    NaN      NaN
2       3                European Union  509.04 million  2012    NaN      NaN
3     NaN  South Asia average (profile)  321.91 million  2013    NaN      NaN
4       4                 United States  316.67 million  2013    NaN      NaN
..    ...                           ...             ...   ...    ...      ...
296  =250             Coral Sea Islands             0.0  2013    NaN      NaN
297  =250             Clipperton Island             0.0  2013    NaN      NaN
298  =250                   Wake Island             0.0  2013    NaN      NaN
299  =250               Spratly Islands             0.0  2013    NaN      NaN
300  =250   Ashmore and Cartier Islands             0.0  2013    NaN      NaN

[301 rows x 6 columns]

In [140]:
df2 = df2.fillna(0)
df2 = df2.set_index('#').drop(0).reset_index()
df2 = df2.drop(2).reset_index().drop(['index','#','DATE','GRAPH','HISTORY'], axis=1)

In [141]:
df2

                         COUNTRY          AMOUNT
0                          China    1.35 billion
1                          India    1.22 billion
2                  United States  316.67 million
3                      Indonesia  251.16 million
4                         Brazil  201.01 million
..                           ...             ...
260            Coral Sea Islands             0.0
261            Clipperton Island             0.0
262                  Wake Island             0.0
263              Spratly Islands             0.0
264  Ashmore and Cartier Islands             0.0

[265 rows x 2 columns]

In [142]:
df2 = df.merge(df2, how='inner', on='COUNTRY').drop(['#','DATE','GRAPH','HISTORY'], axis=1)
df2 = df2.rename(columns={"AMOUNT_x": "Internet User", "AMOUNT_y": "Population"})

In [143]:
df2

,COUNTRY,Internet User,Population
0,China,389 million,1.35 billion
1,United States,245 million,316.67 million
2,Japan,99.18 million,127.25 million
3,Brazil,75.98 million,201.01 million
4,Germany,65.12 million,81.15 million
...,...,...,...
213,Niue,1100,1229
214,"Saint Helena, Ascension, and Tristan da Cunha",900,7754
215,Saint Helena,900,7700
216,Tokelau,800,1353
217,Christmas Island,464,1513

#### 3
Compute the correlation between the crime rate (murders per 100k) and the education level. Compare this to the correlation of crime rate and poverty (relative BIP). Hint: use pandas build in correlation function: [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html)

In [156]:
#use request to get data from URL
res3 = requests.get("https://www.nationmaster.com/country-info/stats/Crime/Murder-rate")
#parse data as HTML
soup3 = BeautifulSoup(res3.content,'lxml')
#extract tables
table3 = soup3.find_all('table')[0]
#convert table to pandas data frame
df3 = pd.read_html(str(table3)) #returns list of dataframes (one for each table)

In [157]:
df3 = pd.DataFrame(df3[0])
df3

                 COUNTRY  DESCRIPTION
0            Afghanistan         3.40
1                Albania         4.50
2                Algeria         0.64
3                Andorra         1.30
4    Antigua and Barbuda         8.50
..                   ...          ...
146              Uruguay         5.80
147           Uzbekistan         3.20
148            Venezuela        49.00
149              Vietnam         1.90
150                Yemen         4.00

[151 rows x 2 columns]

### REST API
#### Using data from [https://www.energidataservice.dk](https://www.energidataservice.dk)

In [158]:
import pandas as pd
import requests
from pandas import json_normalize

In [159]:
#get data from an open energy data service provider
url = 'https://api.energidataservice.dk/dataset/NordpoolMarket?offset=0&sort=HourUTC%20DESC&timezone=dk'

response = requests.get(url)
dictr = response.json() #parse json to dict
recs = dictr['records'] 
df = json_normalize(recs) #flatten json files into data frame
df.head()

,HourUTC,HourDK,PriceArea,SpotPurchase,SpotSale,SpotPriceDKK,ElbasAveragePriceDKK,ElbasMaxPriceDKK,ElbasMinPriceDKK,SpotPriceEUR,ElbasAveragePriceEUR,ElbasMaxPriceEUR,ElbasMinPriceEUR
0,2021-08-22T21:00:00,2021-08-22T23:00:00,DK1,None,None,609.450012,None,None,None,81.949997,None,None,None
1,2021-08-22T21:00:00,2021-08-22T23:00:00,DK2,None,None,609.450012,None,None,None,81.949997,None,None,None
2,2021-08-22T20:00:00,2021-08-22T22:00:00,DK1,None,None,670.059998,None,None,None,90.099998,None,None,None
3,2021-08-22T20:00:00,2021-08-22T22:00:00,DK2,None,None,670.059998,None,None,None,90.099998,None,None,None
4,2021-08-22T19:00:00,2021-08-22T21:00:00,DK1,None,None,710.080017,None,None,None,95.480003,None,None,None

#### 4
Compute overview statistics (mean, variance, quantiles, counts,...) for all variables. Hint: there is a single pandas call to get this ...

In [161]:
df.describe()

       SpotPriceDKK  SpotPriceEUR
count    100.000000    100.000000
mean     637.358407     85.702200
std       97.592793     13.122795
min      496.410004     66.750000
25%      568.479980     76.440002
50%      609.450012     81.949997
75%      708.510010     95.269997
max      834.200012    112.169998

#### 5 
Compute the average ***SpotSale*** by each day.

In [168]:
df4 = df.groupby('HourUTC')['SpotSale']
df4

#### 6 
Compute the day with the highest variance in ***SpotPurchase***